.card-frame {
    width: 100%;
    height: 100%;
    border-radius: 23px;
}

.full-card {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(125, 145, 125);
    border-radius: 20px;
}

.card-texture {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.18);
    background-image: resource("Sprites/texture");
    -unity-background-image-tint-color: rgba(38, 37, 37, 0.51);
    border-radius: 20px;
}

.card-body {
    width: 86%;
    height: 61%;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.09);
    background-image: resource("Sprites/borderWithLinearGradientForTwoElement");
    border-radius: 16px;
    top: 4.5%;
}

.title-panel {
    position: absolute;
    width: 79%;
    height: 13.5%;
    background-color: rgb(255, 243, 183);
    border-radius: 18px;
    rotate: 17deg;
    translate: -30% -16%;
    top: 7%;
    left: 52%;
}

.pokemon-title {
    width: 100%;
    height: 100%;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/ShiftyNotesRegular-BWZ6d%20SDF%201.asset?fileID=11400000&guid=b2f542a44c0eb4548bbf678d77ac4081&type=2#ShiftyNotesRegular-BWZ6d SDF 1");
    font-size: 38px;
    letter-spacing: 12px;
    -unity-text-align: middle-center;
    margin: 0;
    padding: 0;
    margin-top: 1.5%;
}

.pokemon-image {
    width: 71%;
    height: 70%;
    position: absolute;
    background-image: resource("Sprites/PokemonImages/Metapod");
    top: 13%;
    left: 13%;
}

.elements-panel {
    width: 96.3%;
    height: 12%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 1.7%;
}

.elements-area {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.two-elements {
    width: 29%;
    height: 100%;
    background-image: resource("Sprites/borderForTwoElements");
}

.one-element {
    width: 22%;
    height: 90%;
    background-image: resource("Sprites/borderForOneElement");
}

.two-elements .element {
    width: 30%;
    height: 72%;
}

.one-element .element {
    width: 35%;
    height: 72%;
}

.two-elements .main-element {
    background-image: resource("Sprites/Elements/bug");
    top: 1%;
    left: 2%;
}

.two-elements .secondary-element {
    background-image: resource("Sprites/Elements/poison");
    top: 1%;
    left: 7%;
}

.one-element .main-element {
    background-image: resource("Sprites/Elements/bug");
    top: 1%;
    left: 5%;
}

.one-element .secondary-element {
    display: none;
}

.description-button {
    width: 18%;
    height: 13%;
    position: absolute;
    background-size: 100% 100%;
    background-color: rgb(128, 75, 83);
    -unity-background-image-tint-color: rgb(0, 253, 255);
    top: 1.5%;
    left: 2%;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    background-image: resource("Sprites/pngtree-magnifier-web-equipment-flat-vector-png-image_33521858");
}

.card-number-panel {
    width: 12%;
    height: 9%;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 138, 118);
    right: 3%;
    top: 1.5%;
    border-radius: 50px;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}

.card-number-label {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    -unity-font-definition: url("project://database/Assets/Photon/Fusion/Runtime/RuntimeAssets/JetBrainsMono-Regular.ttf?fileID=12800000&guid=a4ed52b30ac954791b7f3c691f1a348e&type=3#JetBrainsMono-Regular");
}

.card-footer {
    width: 86%;
    height: 28.5%;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(250, 243, 183);
    background-image: resource("Sprites/textureFooter");
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.59);
    border-radius: 5px;
    top: 7%;
}

.abilities-area {
    height: 75%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    border-color: rgb(0, 0, 0);
}

.half-of-abilities-area {
    width: 100%;
    height: 48%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

.ability {
    width: 46%;
    height: 93%;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(249, 242, 183);
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}

.top-left-ability {
    border-top-left-radius: 5px;
}

.top-right-ability {
    border-top-right-radius: 5px;
}

.bottom-left-ability {
    border-bottom-left-radius: 5px;
}

.bottom-right-ability {
    border-bottom-right-radius: 5px;
}

.top-info-container {
    width: 100%;
    height: 28%;
    flex-direction: row;
    border-bottom-width: 1px;
    border-color: rgb(0, 0, 0);
}

.ability-name {
    width: 74%;
    height: 100%;
    font-size: 8px;
    -unity-font-definition: url("project://database/Assets/Photon/Fusion/Runtime/RuntimeAssets/JetBrainsMono-Regular.ttf?fileID=12800000&guid=a4ed52b30ac954791b7f3c691f1a348e&type=3#JetBrainsMono-Regular");
    -unity-text-align: middle-center;
    -unity-font-style: normal;
    letter-spacing: 8px;
    margin: 0;
    padding: 0;
}

.ability-damage {
    width: 100%;
    height: 100%;
    font-size: 9.8px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Neucha-Regular.ttf?fileID=12800000&guid=20e361ae84a5b3a4abffce6a3f30a87c&type=3#Neucha-Regular");
    -unity-text-align: middle-center;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    margin: 0;
    padding: 7% 0 0 5%;
}

.bottom-info-container {
    width: 100%;
    height: 72%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ability-discription {
    width: 75%;
    height: 100%;
    font-size: 6px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Neucha-Regular.ttf?fileID=12800000&guid=20e361ae84a5b3a4abffce6a3f30a87c&type=3#Neucha-Regular");
    -unity-text-align: middle-center;
    -unity-font-style: normal;
    white-space: pre-wrap;
    border-right-width: 1px;
    border-right-color: rgb(0, 0, 0);
    margin: 0;
    padding: 1.5px;
}

.ability-attack-info {
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.ability-element {
    width: 45%;
    height: 50%;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
    background-image: resource("Sprites/Elements/bug");
    top: 1%;
}

.ability-type {
    width: 90%;
    height: 25%;
    font-size: 7px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/Neucha-Regular.ttf?fileID=12800000&guid=20e361ae84a5b3a4abffce6a3f30a87c&type=3#Neucha-Regular");
    -unity-text-align: middle-center;
    margin: 0;
    padding: 0;
}

.stats-panel {
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;
}

.stats-area {
    width: 100%;
    height: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.stat {
    width: 22%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

.attack-stat {
    background-image: resource("Sprites/Атака");
}

.defense-stat {
    background-image: resource("Sprites/Защита");
}

.special-attack-stat {
    background-image: resource("Sprites/Особая атака");
}

.physical-attack-stat {
    background-image: resource("Sprites/Особая атака");
}

.collection-card {
    width: 15%;
    height: 48%;
    min-width: 342.75px;
    min-height: 426.24px;
    flex-shrink: 0;
    margin-top: 0.7%;
    margin-right: 1%;
}

.collection-card .card-frame {
    border-width: 3px;
    border-color: var(--border-color);
}

.bestiary-card {
    width: 30%;
    height: 46.3%;
    flex-shrink: 0;
    margin-top: 1%;
}

.bestiary-card .card-frame {
    border-width: 3px;
}

.bestiary-card .ability-discription {
    font-size: 5.5px;
}

.owned-card_frame {
    border-color: rgb(255, 238, 140);
}

.no-owned-card_frame {
    border-color: black;
}

.no-owned-card_cover {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: resource("Sprites/8462af3615744f4ac5be51f2d02184bb#8462af3615744f4ac5be51f2d02184bb_0");
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.59);
    -unity-background-scale-mode: scale-and-crop;
    border-radius: 20px;
}

.middle-card {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.description-card {
    width: 50%;
    height: 46%;
    scale: 1.9 2.1;
}

.description-card .description-button {
    display: none;
}

.description-card .card-frame {
    border-width: 3px;
    border-color: rgb(190, 49, 49);
}

.description-card .ability-damage {
    font-size: 9px;
}

.evolution-card {
    width: 60%;
    height: 55%;
    scale: 1.68 1.8;
}

.evolution-card .card-frame {
    border-width: 3px;
    border-color: rgb(0, 0, 0);
}

.evolution-card .ability-damage {
    font-size: 9px;
}

.clone-card {
    width: 15.3%;
    height: 45%;
    margin: 0;
}

.clone-card .card-frame {
    border-width: 3px;
    border-color: coral;
}

.clone-card .ability-discription {
    font-size: 6.5px;
}
