DropdownField .unity-label {
    display: none;
}

DropdownField .unity-base-field__input {
    padding: 0;
    margin: 0;
    border-radius: 30px;
}

DropdownField .unity-base-popup-field__text {
    width: 85%;
    margin: 0;
    border-right-width: 2px;
    border-color: black;
    padding-left: 50px;
}

DropdownField .unity-base-popup-field__arrow {
    width: 35px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    -unity-background-image-tint-color: rgb(122, 44, 99);
    background-image: url("project://database/Assets/Photon/Fusion/Runtime/Statistics/StatsIcons/FusionStatsToggleArrowIcon.png?fileID=2800000&guid=330babd635d5dfc4691ae3151ffc4491&type=3#FusionStatsToggleArrowIcon");
}